.input {
  position: absolute;
  right: 40px;
  top: 0;
  width: 0;
  padding: 10px;
  opacity: 0;
  border: none;
  outline: none;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: width 0.3s ease, opacity 0.3s ease;
  color: white;
  
}

.input:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(150, 150, 150, 0.2);
}

.searchContainer{
  position: relative;
  margin-left: auto;
  display: inline-block;
}
.icon{
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 15px;
  transition: background-color 0.3 ease;
}
.icon:hover{
 
  backdrop-filter: blur(10px);
}
.searchContainer:hover .input,
.searchContainer:focus-within .input {
  width: 180px;
  opacity: 1;
  pointer-events: all;
}