.goBackBtn {
    margin-top: 10px ;
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  
  .goBackBtn:hover {
   backdrop-filter: blur(10px);
   color: #333;
  }
  
  .goBackBtn:focus {
    outline: none;
  }
  